<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login.css">

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

    <title>Mercado Liebre</title>
</head>
<body>
    <header class="fondo_amarillo">
        <div class="header-sin-categorias">
            <img src="/img/logo-mercado-liebre.svg" alt="Logo">
            <div class="input">Buscar productos, marcas <i class="fa fa-search"></i></div>
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        
        <nav>
            <ul style="padding-left: 0px">
                <li type="None"><a href="/">Ofertas</a></li>
                <li type="None"><a href="/">Tiendas Oficiales</a></li>
                <li type="None"><a href="/">Vender</a></li>
                <li type="None"><a href="/">Ayuda</a></li>
            </ul>
            <ul style="padding-left: 0px">
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burguer-menu">
            <i class="fas fa-bars burger"></i>
        </div>
    </header>
    <main>
        <form action="" method="post">
            <div>
                <input type="text" name="nombre-usuario" id="nombre-usuario" placeholder="Nombre de usuario" required>
            </div>
            <div>
                <input type="password" name="pass" id="pass" placeholder="Elegí tu contraseña" required>
            </div>
            <div class="botones">
                <button type="submit"><a href="/">Enviar</a></button>
            </div>
        </form>
    </main>
    <footer>
        <div class="footer-iconos">
            <div>
                <i class="fas fa-credit-card fa-2xl"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div>
                <i class="fas fa-gift fa-2xl"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div>
                <i class="fas fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>
</html>